<div class="row">
  <div class="col-1 col-md-1 text-center">  
    <span [ngStyle]="menuStyle1" (click)="select(1)" style="cursor: pointer;"> Holdings </span>
  </div>
  <div class="col-2 col-md-2 text-center">
    <span [ngStyle]="menuStyle2" (click)="select(2)" style="cursor: pointer;"> Unresolved Holdings </span>
  </div>
</div>

<div>
  <kendo-grid [data]="gridView" 
    [resizable]="true" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
    [filter]="state.filter" 
    [sortable]="{ allowUnsort: true, mode: 'single' }" 
    [sort]="sort1" [pageable]="true" filterable="menu" (sortChange)="sortChange($event)" [selectedKeys]="myChecks"
    [selectable]="{enabled: true, checkboxOnly: true}" kendoGridSelectBy="ProductID"
    (selectedKeysChange)="onCheckboxChange($event)">

    <ng-template kendoGridToolbarTemplate> 
      <div class="row">
        <div class="col-6 col-md-6">
          <label>Cost Basis Total *: $1,011.872 </label>      
          <label>Market Value : $2,260.374 </label>
        </div>
        <div class="col-6 col-md-6 text-right">
          <label>Apply to selected 
            <kendo-combobox [disabled]="disableControls" [data]="['', 'Price','Dont Price']"
              (selectionChange)="selectionChange($event)" >
            </kendo-combobox>
            <button  [disabled]="disableControls" kendoButton style="margin-left: 3px;">Delete Selection</button>
          </label>
        </div>
      </div>
    </ng-template>

    <kendo-grid-checkbox-column 
      [width] = "100" title="Select all" showSelectAll="true"
      [style]="{'text-align': 'center'}">
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="ProductID">
      <ng-template kendoGridHeaderTemplate  >
        Product  <kendo-icon [name]="'arrows-swap'"></kendo-icon>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="ProductName">
      <ng-template kendoGridHeaderTemplate  >
        Name <kendo-icon [name]="'arrows-swap'"></kendo-icon>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="Category.CategoryName" >
    <ng-template kendoGridHeaderTemplate  >
      Category  <kendo-icon [name]="'arrows-swap'"></kendo-icon>
    </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="UnitPrice" >
      <ng-template kendoGridHeaderTemplate  >
        Price  <kendo-icon [name]="'arrows-swap'"></kendo-icon>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="UnitsInStock" >
      <ng-template kendoGridHeaderTemplate  >
        In Stock  <kendo-icon [name]="'arrows-swap'"></kendo-icon>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="Image">
      <ng-template kendoGridCellTemplate let-dataItem>
        <img [src]="dataItem.image" width="50">
      </ng-template>
    </kendo-grid-column>

  </kendo-grid>
</div>